/*Jimmy Huynh, 2021*/
*{
  margin = 0;
  padding = 0;
  box-sizing: border-box;
}
/*Working with css specificity*/
/*.call-to-action:link, .call-to-action:visited{
  background-color: #D55C5F; /*Red
} This doesn't work since it is overrided*/

#button-2{
  background-color: #D55C5F;  /*This has precedence though.*/
}

/**The specificity of selectors are as follows:
id -> class:pseudoclass -> element:pseudoclass and class element, class, element **/ 

.page{
  width: 600px;
  margin: 0 auto;
}

.synopsis { /* this is a class selector, seen from the dot*/
  color: #7E8184; /*light gray*/
  font-style: italic;
}
.synopsis em{ /*descendant selectors*/
  font-style: normal;
}

/**PSUEDOCLASSES FOR BUTTONS**/

/*The button tag took precedence over the call to action since it is more specifc*/
.button:link, .button:visited { /*this is what allows us to override the a tags below*/
  display:block;
  text-decoration: none;

  color: #FFF;
  background-color: #5995DA; /*Blue*/
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063; /*Dark gray*/
  border-radius: 5px;

  width:200px;
  margin: 20px auto;
}

.button:hover, .button:visited:hover{
  color: #FFF;
  background-color: #76AEED; /*Light Blue*/
}

.button:active, .button:visited:active{
  background-color: #5996DA; /*Blue*/
}

.call-to-action:link, .call-to-action:visited{ /*This overides the button class since it is later*/
    font-style: italic;
    background-color: #EEB75A; /*Yellow*/
}

.call-to-action:hover, .call-to-action:visited:hover{
    background-color: #F5CF8E; /*Light Yellow*/
}

.call-to-action:active, .call-to-action:visited:active{
  background-color: #EEB75A; /*Yellow*/
}

/**PSUEDOCLASSES FOR LINKS**/
a:link{ /*This is known as a pseudoclass, which changes how a certain state acts*/
    color: blue;
    text-decoration: none;
}
a:visited{
  color: purple;
}
a:hover{
  color:aqua;
  text-decoration:underline;
}
a:active{
  color:red;
}
a:visited:hover{/*string pseudoclasses together*/
  color:orange; /*link doesn't turn red anymore though*/
}
a:visited:active{
  color: red; /*fixes the above*/
}

/**PSUEDOCLASSES FOR STRUCTURE**/
p:last-of-type{ /*avoids having to create another class*/
  margin-bottom: 50px;
}

p:first-of-type{ /*this replaces the synopsis class.*/
  color: #7E8184; /*light gray*/
  font-style: italic;
}

/*To avoid changing different containers, use a child selector*/
.page > p:first-of-type{
  color: #7E8184; /*light gray*/
  font-style: italic;
}

#button-2 {
  color: #5D6063; /*Dark gray*/
}
