* { /*resets any styles set by the browser*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  background-color: #DDE0E3;  /*light gray*/ /**Block boxes appear below the previous normally, and its width and height are set automatically*/
}

h1 {
  padding: 50px;
  border-bottom: 20px dotted #5D6063; /*border: size style color*/ /*borders can be used to debug to see if things are showing*/
}

p{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  /*The above can also be written as:*/

  padding: 20px 10px; /*vertical horizontal padding*/

  /*You can also customize each side starting from the top and moving clockwise*/

  padding: 20px 0px 20px 10px;
  margin-top: 25px;
  margin-bottom: 50px; /* kinda like transparent padding, useful to space elements where you don't want them to click*/
  /*Vertical margins are collapsed to the largest setting, ex: btwn two <p> elems, there will only be 50px, since 50 > 25, so it guarantees min 50 px margin.*/
}

em, strong {
  background-color: #B2D6FF; /*light blue*/ /**Inline boxes don't affect vertical spacing, and the width is automatic*/
  display: inline; /*block instead of in-line element is possible*/
}

strong {
  margin: 50px; /*doesn't add any vertical space, since inline element, you need to */
  padding: 50px; /*padding does though*/
}

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box; /*normally set to content-box which doesn't account for padding or border*/
  margin: 20px auto; /*vertical, horizontal, centers the button horizontally.*/
}

body {
  text-align: center;
}
