/*Jimmy Huynh, 2021*/
/*Note to self: don't forget about CSSI work*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
  width: 900px;
  margin: 0 auto;
}

.menu {
  height: 100px;
  background-color: #B2D6FF; /*Medium Blue*/
}

.sidebar {
  float: left; /*this allows for content to flow around the sidebar*/
  height: 300px;
  width: 200px;
  background-color: #F09A9D; /*red*/
}

.content {
  height: 500px;
  background-color: #F5CF8E; /*yellow*/
}

.footer {
  height: 200px;
  background-color: #D6E9FE; /*Light blue*?
}
